<!-- <app-c1 *ngFor="let n of arr">{{n}}</app-c1>
<br>
<br>


<br>
<br> -->
<div class="allButton">
  <button appAppHigclight appShowcase clickCountColor= 'red'
  (clickCountChnge)="larr.push($event)"
  >click1</button>
  <br><br><br>
  <button appAppHigclight appShowcase clickCountColor= 'blue' 
  (clickCountChnge)="larr.push($event)"
  >click2</button>
  <br><br><br>
  <button appAppHigclight appShowcase [clickCountColor]='colorParam1'
  (clickCountChnge)="larr.push($event)"
  >click3</button>
  <br><br><br>
  <button appAppHigclight appShowcase clickCountColor ='red'
  (clickCountChnge)="larr.push($event)"
  >click4</button>
</div>
<div class="allLi">
  <ul>
    <li  *ngFor= "let l of larr">{{l}}</li>
  </ul>
</div>
<app-results></app-results>